<a href="https://colab.research.google.com/github/bodamohannaik/Udemy_DL/blob/master/autoencoders/movie_recommendation_using_autoencoders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import torch

# Download Dataset

In [2]:
!curl -O http://files.grouplens.org/datasets/movielens/ml-100k.zip
!ls

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4808k  100 4808k    0     0   9.7M      0 --:--:-- --:--:-- --:--:--  9.7M
ml-100k.zip  sample_data

In [3]:
!curl -O http://files.grouplens.org/datasets/movielens/ml-1m.zip
!ls

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5778k  100 5778k    0     0  15.6M      0 --:--:-- --:--:-- --:--:-- 15.6M
ml-100k.zip  ml-1m.zip	sample_data

In [4]:
!unzip -q ml-100k.zip
!ls

ml-100k  ml-100k.zip  ml-1m.zip  sample_data

In [5]:
!unzip -q ml-1m.zip
!ls

ml-100k  ml-100k.zip  ml-1m  ml-1m.zip	sample_data

# Load Dataset

In [6]:
# all movies from 1m dataset
movies = pd.read_csv('ml-1m/movies.dat', sep="::", engine='python', encoding ='latin-1', header = None)
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [7]:
# all users from 1m dataset
users = pd.read_csv('ml-1m/users.dat', sep="::", engine='python', encoding ='latin-1', header = None)
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [8]:
# all ratings from 1m dataset
ratings = pd.read_csv('ml-1m/ratings.dat', sep="::", engine='python', encoding ='latin-1', header = None)
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [9]:
# training set 
training_set = pd.read_csv('ml-100k/u1.base', header = None, sep = '\t', engine='python', encoding = 'latin-1')
training_set

         0     1  2          3
0        1     1  5  874965758
1        1     2  3  876893171
2        1     3  4  878542960
3        1     4  3  876893119
4        1     5  3  889751712
...    ...   ... ..        ...
79995  943  1067  2  875501756
79996  943  1074  4  888640250
79997  943  1188  3  888640250
79998  943  1228  3  888640275
79999  943  1330  3  888692465

[80000 rows x 4 columns]

In [10]:
# test set 
test_set = pd.read_csv('ml-100k/u1.test', header = None, sep = '\t', engine='python', encoding = 'latin-1')
test_set

         0     1  2          3
0        1     6  5  887431973
1        1    10  3  875693118
2        1    12  5  878542960
3        1    14  5  874965706
4        1    17  3  875073198
...    ...   ... ..        ...
19995  458   648  4  886395899
19996  458  1101  4  886397931
19997  459   934  3  879563639
19998  460    10  3  882912371
19999  462   682  5  886365231

[20000 rows x 4 columns]

# Prepare Data

In [11]:
# unique users in training and test
user_ids = list(set(training_set[0].unique().tolist()+test_set[0].unique().tolist()))
user_ids.sort()
# unique movies in training and test
movie_ids = list(set(training_set[1].unique().tolist()+test_set[1].unique().tolist()))
movie_ids.sort()
print(f"User ids : {len(user_ids)}, Movie ids:{len(movie_ids)}")

User ids : 943, Movie ids:1682

In [12]:
def convert(data):
  df = pd.DataFrame(index = user_ids, columns = movie_ids)
  for ind, record in data.iterrows():
    df.loc[record[0], record[1]] = record[2]
  df.fillna(value = 0, inplace =True)
  return df

In [13]:
training_set_converted = convert(data = training_set)
training_set_converted

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
1,5,3,4,3,3,0,4,1,5,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
940,0,0,0,2,0,0,4,5,3,0,...,0,0,0,0,0,0,0,0,0,0
941,5,0,0,0,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
943,0,5,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
test_set_converted = convert(data = test_set)
test_set_converted

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
1,0,0,0,0,0,5,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
X_train = torch.FloatTensor(training_set_converted.values)
X_train

tensor([[5., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [16]:
X_test = torch.FloatTensor(test_set_converted.values)
X_test

tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]])

In [17]:
X_train.shape, X_test.shape

(torch.Size([943, 1682]), torch.Size([943, 1682]))

# AutoEncoder

In [23]:
class SAE(torch.nn.Module):
  def __init__(self):
    super(SAE, self).__init__()
    self.fc1 = torch.nn.Linear(in_features=len(movie_ids), out_features =20)
    self.fc2 = torch.nn.Linear(in_features=20, out_features =10)
    self.fc3 = torch.nn.Linear(in_features=10, out_features =20)
    self.fc4 = torch.nn.Linear(in_features=20, out_features=len(movie_ids))
    self.activation = torch.nn.Sigmoid()
  
  def forward(self, x):
    x = self.activation(self.fc1(x))
    x = self.activation(self.fc2(x))
    x = self.activation(self.fc3(x))
    x = self.fc4(x)
    return x

In [24]:
sae = SAE()
criterion = torch.nn.MSELoss()
criterion

MSELoss()

In [26]:
list(sae.parameters())

[Parameter containing:
 tensor([[-0.0229, -0.0002,  0.0109,  ..., -0.0203, -0.0084,  0.0120],
         [-0.0049,  0.0162,  0.0144,  ...,  0.0008, -0.0087, -0.0163],
         [-0.0113, -0.0052, -0.0226,  ..., -0.0015, -0.0049,  0.0122],
         ...,
         [ 0.0135, -0.0065, -0.0153,  ..., -0.0054, -0.0228, -0.0116],
         [-0.0193, -0.0008,  0.0006,  ..., -0.0208,  0.0166,  0.0102],
         [-0.0071, -0.0209,  0.0187,  ...,  0.0017,  0.0205,  0.0190]],
        requires_grad=True), Parameter containing:
 tensor([-0.0037, -0.0156,  0.0018, -0.0045, -0.0082,  0.0171,  0.0197, -0.0180,
         -0.0049,  0.0064,  0.0221, -0.0241, -0.0014, -0.0154,  0.0018, -0.0172,
         -0.0136, -0.0076, -0.0170,  0.0182], requires_grad=True), Parameter containing:
 tensor([[ 6.4335e-02, -1.7371e-01,  4.4766e-02,  1.4259e-01, -2.0679e-02,
           1.8920e-01,  7.2865e-02, -6.5304e-02, -2.6777e-02,  1.4591e-01,
           1.7153e-01, -1.9161e-02,  7.7246e-02, -1.0270e-01, -2.1337e-01,
          -1.0522e-01, -2.2858e-02, -1.5226e-01, -1.2679e-01, -2.1986e-01],
         [-1.2146e-01,  1.9476e-02, -7.6770e-02, -1.0691e-01,  6.5583e-03,
          -4.3840e-03,  4.0725e-02,  4.6065e-02, -6.6993e-02,  8.6014e-02,
           7.8651e-03, -7.5885e-02, -7.5409e-02, -1.1368e-01, -7.6251e-02,
           1.8861e-01, -1.2163e-01,  8.8212e-02,  1.6847e-01,  1.3021e-01],
         [-2.0817e-02,  2.0544e-01, -8.1219e-02, -1.5752e-01,  1.4791e-01,
          -9.2248e-02,  7.7537e-02,  9.5010e-02,  1.7365e-01, -1.5049e-01,
           1.1831e-01,  1.4868e-01, -7.0883e-03,  9.2065e-02,  2.1363e-01,
           7.6914e-02, -1.7469e-01,  6.1511e-02,  6.7563e-02, -9.3685e-02],
         [ 1.3476e-01, -2.8824e-02, -1.3410e-02, -1.8265e-01, -1.7279e-01,
           1.5608e-01, -2.1853e-01,  3.7528e-02, -6.1425e-02,  8.9693e-02,
           9.6896e-02, -1.7245e-01, -2.1474e-01, -2.4481e-02, -1.8097e-02,
          -2.1125e-01,  1.1837e-02, -9.8045e-02, -3.0107e-02,  2.0947e-01],
         [-1.2778e-01,  1.4376e-01,  3.4910e-03, -2.0122e-01, -1.8899e-01,
           1.3936e-01,  1.4847e-01, -1.0884e-01, -1.7737e-01, -4.1964e-02,
          -1.6598e-01, -1.1380e-01, -2.1327e-01,  7.6174e-02, -9.7663e-02,
           1.2799e-01, -1.9085e-01,  1.0650e-01,  2.9244e-02,  6.8854e-02],
         [-1.2399e-01, -2.0928e-01,  7.7267e-02,  6.5844e-03,  2.1280e-01,
           1.6013e-01,  2.0329e-01,  1.3087e-01,  1.3115e-01, -2.3695e-03,
           1.6319e-01, -4.7170e-02,  9.1904e-02,  1.3178e-01, -1.0016e-01,
          -4.4840e-02, -7.1373e-02,  8.1441e-02, -3.4023e-03, -1.1514e-01],
         [-4.6058e-02,  5.8575e-02,  1.5494e-01,  1.0850e-01,  8.5371e-02,
          -8.1763e-02,  3.6869e-02,  1.0264e-01,  1.9635e-01, -1.7712e-01,
          -2.5635e-02, -5.9474e-02,  2.1237e-01,  2.6555e-02,  7.6323e-02,
          -1.2000e-01, -1.9400e-01, -6.8228e-02, -1.7840e-01,  1.1338e-01],
         [ 2.0590e-01, -1.7417e-01, -1.6243e-01,  1.6151e-01, -1.4815e-01,
           1.8199e-01, -8.7751e-03, -2.6978e-02, -1.4384e-01,  9.8641e-04,
           1.3071e-01,  7.6815e-02, -1.8706e-01,  1.7205e-01, -1.8955e-01,
           1.3466e-01,  1.7735e-01, -1.1959e-01, -9.0159e-02,  1.4702e-01],
         [-1.5541e-01, -2.0715e-01, -3.5510e-02, -1.3352e-01,  3.4811e-02,
           2.6848e-04, -6.6666e-02, -4.3524e-02,  2.7675e-02, -9.2093e-02,
           1.5039e-01, -8.9283e-02, -1.4242e-01, -9.0337e-05, -1.6067e-01,
          -7.6054e-02,  1.8294e-01, -9.3472e-02, -1.1212e-01, -2.1796e-01],
         [-2.1994e-01,  1.6672e-01,  4.6310e-02,  3.1037e-03, -7.3518e-02,
           4.9998e-02, -1.1908e-01,  4.8715e-03, -9.4903e-03, -2.1671e-01,
          -1.9460e-02, -1.5121e-02, -1.5610e-01, -9.7272e-02,  1.1632e-01,
           2.0548e-01,  1.1252e-01, -1.4551e-01, -7.8578e-02,  2.8936e-02]],
        requires_grad=True), Parameter containing:
 tensor([-0.1981, -0.1176, -0.0906,  0.0835, -0.0807, -0.1024,  0.0297,  0.0219,
         -0.0239, -0.0171], requires_grad=True), Parameter containing:
 tensor([[ 8.5053e-02,  1.4077e-01, -1.2535e-01,  1.4068e-01,  2.4908e-01,
           2.1819e-01, -1.4759e-01,  5.6401e-02, -1.2940e-01, -1.3600e-01],
         [-3.5748e-02, -2.1208e-01,  1.8407e-01, -2.0629e-01,  2.7744e-01,
          -2.9286e-01, -1.6136e-01, -1.7071e-01,  6.5611e-02, -4.4743e-02],
         [-2.3504e-01,  2.8722e-01, -1.5255e-01, -3.2950e-02, -1.6305e-01,
          -2.5505e-01,  1.0608e-01,  1.4503e-01,  5.3751e-02, -2.2279e-01],
         [-1.6222e-01,  2.9918e-01, -3.2521e-02, -2.0929e-01,  2.7413e-02,
          -2.9143e-01,  2.3254e-02, -1.1808e-01,  2.4525e-01, -1.5946e-01],
         [-3.1320e-01, -3.0666e-01,  2.5762e-01,  6.9904e-02,  1.0484e-02,
           2.6093e-01,  6.8438e-02,  9.6894e-02,  2.7476e-01,  5.0133e-02],
         [ 1.2724e-01, -1.4660e-01, -9.9626e-02,  2.4447e-01, -1.7031e-03,
          -5.9074e-02,  2.6148e-01, -5.0579e-02,  7.5550e-02,  7.9494e-02],
         [-2.1808e-01, -3.0179e-01,  5.3964e-02, -2.6446e-01, -1.9631e-01,
           1.5345e-01, -1.9116e-01,  2.1210e-01,  3.9982e-02,  1.2099e-01],
         [ 1.5914e-01,  2.8014e-01, -1.0033e-01, -1.0447e-01,  1.2545e-01,
           1.8687e-01,  2.6269e-01,  2.3183e-01,  2.0783e-01, -6.4368e-02],
         [-2.1375e-01, -1.4187e-01, -1.1432e-01,  1.7454e-01,  1.0764e-01,
           1.3333e-01, -6.2775e-02, -4.8867e-02, -1.7895e-01, -2.6057e-03],
         [-4.7358e-02, -2.0078e-01,  3.1585e-01, -9.7101e-02, -2.0192e-01,
           1.5195e-01,  1.8074e-01, -1.3205e-01, -2.0581e-01, -2.6636e-01],
         [-2.5251e-01, -3.4465e-02,  5.8738e-02,  1.8810e-01, -1.7757e-01,
           1.7706e-01, -9.1604e-05,  3.1067e-01, -2.5835e-01,  6.1598e-02],
         [ 2.5155e-01,  1.4607e-01,  6.7148e-02, -2.2313e-01,  2.3170e-01,
          -2.8380e-01,  1.2183e-01, -1.0364e-01,  2.0495e-02, -3.3443e-02],
         [ 1.4163e-01,  9.8773e-03, -1.3537e-01, -2.6096e-01,  1.3958e-01,
          -1.3792e-01, -2.1268e-01,  1.8539e-01, -8.7008e-02, -2.1212e-01],
         [ 7.6027e-02, -6.7194e-02, -1.6303e-01, -1.0358e-01,  2.1057e-01,
           1.5219e-01,  2.4538e-01,  1.5413e-01,  3.8133e-02,  2.7021e-01],
         [-1.7603e-01,  1.8835e-01,  2.6082e-01,  2.6593e-01,  2.3954e-01,
           3.6770e-02, -7.6766e-02,  1.8125e-01, -5.2156e-02, -2.0334e-02],
         [ 2.4657e-01,  7.3479e-02, -2.1578e-01, -1.7319e-01,  1.7223e-02,
           3.1319e-01, -2.5449e-01,  1.8191e-01,  2.5221e-01,  1.6774e-01],
         [-1.7275e-01, -3.7701e-02, -2.7123e-01,  2.3683e-01, -1.6635e-01,
          -1.9462e-01, -2.2532e-01, -1.7640e-01,  1.4681e-02, -9.7619e-02],
         [-2.5710e-01,  2.4223e-01,  3.1138e-01,  2.4270e-01, -2.7543e-01,
          -2.1351e-01,  3.9905e-02, -5.3094e-02,  1.6428e-01, -1.4228e-01],
         [ 2.1487e-01, -2.3365e-01,  6.1193e-02, -1.3773e-01, -5.6319e-02,
           2.0423e-01, -6.3466e-02, -1.3508e-01, -1.6282e-01, -3.3729e-02],
         [-2.8852e-01, -1.7139e-01, -1.2644e-01, -3.0892e-01, -1.2476e-01,
           9.1505e-02,  1.8368e-01,  1.8166e-01, -1.1646e-02,  7.9307e-02]],
        requires_grad=True), Parameter containing:
 tensor([-0.1472, -0.0686,  0.0530,  0.0603, -0.0559,  0.0625, -0.0509,  0.0579,
         -0.1597,  0.1732, -0.1531, -0.2387, -0.2863, -0.2819,  0.1184, -0.3002,
          0.0170, -0.2371, -0.1032,  0.1624], requires_grad=True), Parameter containing:
 tensor([[-0.1542,  0.1853,  0.2200,  ...,  0.0644,  0.0230, -0.1978],
         [ 0.0079,  0.0911, -0.0720,  ..., -0.0088,  0.0660,  0.0821],
         [-0.1515,  0.0619, -0.1838,  ...,  0.1729,  0.0532, -0.1288],
         ...,
         [-0.0390,  0.1222,  0.0503,  ..., -0.1760, -0.0519,  0.0937],
         [-0.0173, -0.1632,  0.1983,  ...,  0.1529, -0.0474,  0.1484],
         [-0.0499,  0.0884, -0.1724,  ..., -0.1769,  0.0561, -0.1098]],
        requires_grad=True), Parameter containing:
 tensor([ 0.0498, -0.1690,  0.0217,  ...,  0.1198,  0.0146,  0.1444],
        requires_grad=True)]

In [27]:
optimizer = torch.optim.RMSprop(params = sae.parameters(), lr = 0.01, weight_decay=0.5)

# Training

In [33]:
torch.autograd.Variable(X_train[0]).unsqueeze(0)

tensor([[5., 3., 4.,  ..., 0., 0., 0.]])

In [39]:
nb_epochs = 200
for epoch in range(nb_epochs):
  train_loss = 0
  s = 0
  for id_user in range(len(user_ids)):
    input = torch.autograd.Variable(X_train[id_user]).unsqueeze(0)
    target = input.clone()
    # atleast one movie is rated
    if torch.sum(target.data>0) > 0:
      output = sae(input)
      target.require_grad = False
      # reset not rated movies
      output[target == 0] = 0
      # loss
      loss = criterion(output, target)
      loss.backward()
      optimizer.step()
      # train loss
      factor = len(movie_ids)/torch.sum(target.data>0)
      train_loss += np.sqrt(loss.data*factor)
      s += 1
  print(f"epoch: {epoch}, loss: {train_loss/s}")

epoch: 0, loss: 1.7659744024276733
epoch: 1, loss: 1.0966130495071411
epoch: 2, loss: 1.0534288883209229
epoch: 3, loss: 1.0384124517440796
epoch: 4, loss: 1.0308024883270264
epoch: 5, loss: 1.0268207788467407
epoch: 6, loss: 1.0237958431243896
epoch: 7, loss: 1.0221843719482422
epoch: 8, loss: 1.0207428932189941
epoch: 9, loss: 1.0196189880371094
epoch: 10, loss: 1.0188524723052979
epoch: 11, loss: 1.018357515335083
epoch: 12, loss: 1.017783522605896
epoch: 13, loss: 1.0173391103744507
epoch: 14, loss: 1.017177939414978
epoch: 15, loss: 1.0167347192764282
epoch: 16, loss: 1.0168002843856812
epoch: 17, loss: 1.01651132106781
epoch: 18, loss: 1.0164403915405273
epoch: 19, loss: 1.0160936117172241
epoch: 20, loss: 1.0161186456680298
epoch: 21, loss: 1.0160155296325684
epoch: 22, loss: 1.015859603881836
epoch: 23, loss: 1.015973448753357
epoch: 24, loss: 1.0156749486923218
epoch: 25, loss: 1.0156995058059692
epoch: 26, loss: 1.0152504444122314
epoch: 27, loss: 1.0152149200439453
epoch: 28, loss: 1.012861967086792
epoch: 29, loss: 1.0115690231323242
epoch: 30, loss: 1.0093721151351929
epoch: 31, loss: 1.0094603300094604
epoch: 32, loss: 1.005015254020691
epoch: 33, loss: 1.0050283670425415
epoch: 34, loss: 1.0018818378448486
epoch: 35, loss: 1.000423789024353
epoch: 36, loss: 0.9973180294036865
epoch: 37, loss: 0.9978201389312744
epoch: 38, loss: 0.9943076372146606
epoch: 39, loss: 0.9929837584495544
epoch: 40, loss: 0.9910392165184021
epoch: 41, loss: 0.9909167885780334
epoch: 42, loss: 0.989093542098999
epoch: 43, loss: 0.9873192310333252
epoch: 44, loss: 0.981436014175415
epoch: 45, loss: 0.9839680790901184
epoch: 46, loss: 0.9798268675804138
epoch: 47, loss: 0.9831067323684692
epoch: 48, loss: 0.9785515069961548
epoch: 49, loss: 0.9818131923675537
epoch: 50, loss: 0.9808735251426697
epoch: 51, loss: 0.9773019552230835
epoch: 52, loss: 0.9740443825721741
epoch: 53, loss: 0.9715592265129089
epoch: 54, loss: 0.9687498211860657
epoch: 55, loss: 0.968326985836029
epoch: 56, loss: 0.96441650390625
epoch: 57, loss: 0.97087162733078
epoch: 58, loss: 0.9696406126022339
epoch: 59, loss: 0.966112494468689
epoch: 60, loss: 0.9604268670082092
epoch: 61, loss: 0.9632853269577026
epoch: 62, loss: 0.9592636227607727
epoch: 63, loss: 0.9556109309196472
epoch: 64, loss: 0.9552775621414185
epoch: 65, loss: 0.9574543833732605
epoch: 66, loss: 0.9528207778930664
epoch: 67, loss: 0.9538448452949524
epoch: 68, loss: 0.9497249126434326
epoch: 69, loss: 0.9501147866249084
epoch: 70, loss: 0.9470483660697937
epoch: 71, loss: 0.949629545211792
epoch: 72, loss: 0.9442471265792847
epoch: 73, loss: 0.9453288316726685
epoch: 74, loss: 0.9441207647323608
epoch: 75, loss: 0.9458063244819641
epoch: 76, loss: 0.9437540769577026
epoch: 77, loss: 0.9420583844184875
epoch: 78, loss: 0.941511869430542
epoch: 79, loss: 0.9427248239517212
epoch: 80, loss: 0.940456211566925
epoch: 81, loss: 0.9418282508850098
epoch: 82, loss: 0.9390938878059387
epoch: 83, loss: 0.9397423267364502
epoch: 84, loss: 0.9380089044570923
epoch: 85, loss: 0.9408278465270996
epoch: 86, loss: 0.9380552172660828
epoch: 87, loss: 0.9385049343109131
epoch: 88, loss: 0.9391021132469177
epoch: 89, loss: 0.9374442100524902
epoch: 90, loss: 0.9354755878448486
epoch: 91, loss: 0.9365031123161316
epoch: 92, loss: 0.9343304634094238
epoch: 93, loss: 0.9342086315155029
epoch: 94, loss: 0.9332430362701416
epoch: 95, loss: 0.9339249730110168
epoch: 96, loss: 0.9326905608177185
epoch: 97, loss: 0.93324214220047
epoch: 98, loss: 0.9318129420280457
epoch: 99, loss: 0.9325567483901978
epoch: 100, loss: 0.9308909177780151
epoch: 101, loss: 0.9320176243782043
epoch: 102, loss: 0.930578887462616
epoch: 103, loss: 0.9312269687652588
epoch: 104, loss: 0.9292277097702026
epoch: 105, loss: 0.9299850463867188
epoch: 106, loss: 0.9293090105056763
epoch: 107, loss: 0.9297264218330383
epoch: 108, loss: 0.9288464784622192
epoch: 109, loss: 0.9291647672653198
epoch: 110, loss: 0.9282525777816772
epoch: 111, loss: 0.928453266620636
epoch: 112, loss: 0.927085816860199
epoch: 113, loss: 0.9276029467582703
epoch: 114, loss: 0.9274002313613892
epoch: 115, loss: 0.9275416731834412
epoch: 116, loss: 0.9267221689224243
epoch: 117, loss: 0.9276430606842041
epoch: 118, loss: 0.9264135360717773
epoch: 119, loss: 0.9267076253890991
epoch: 120, loss: 0.9256613254547119
epoch: 121, loss: 0.9259408116340637
epoch: 122, loss: 0.9249101877212524
epoch: 123, loss: 0.9252101182937622
epoch: 124, loss: 0.9240253567695618
epoch: 125, loss: 0.9245665073394775
epoch: 126, loss: 0.9238159656524658
epoch: 127, loss: 0.9242730140686035
epoch: 128, loss: 0.9235095977783203
epoch: 129, loss: 0.9233887791633606
epoch: 130, loss: 0.92266845703125
epoch: 131, loss: 0.9228777289390564
epoch: 132, loss: 0.9222217798233032
epoch: 133, loss: 0.9222195148468018
epoch: 134, loss: 0.9217413663864136
epoch: 135, loss: 0.9217211604118347
epoch: 136, loss: 0.9212430715560913
epoch: 137, loss: 0.921293318271637
epoch: 138, loss: 0.9205661416053772
epoch: 139, loss: 0.9206764698028564
epoch: 140, loss: 0.920107901096344
epoch: 141, loss: 0.920132040977478
epoch: 142, loss: 0.9194816946983337
epoch: 143, loss: 0.919717013835907
epoch: 144, loss: 0.9193052649497986
epoch: 145, loss: 0.9196546673774719
epoch: 146, loss: 0.9189930558204651
epoch: 147, loss: 0.9193202257156372
epoch: 148, loss: 0.9186283946037292
epoch: 149, loss: 0.9191403388977051
epoch: 150, loss: 0.9181532859802246
epoch: 151, loss: 0.91830974817276
epoch: 152, loss: 0.9178007245063782
epoch: 153, loss: 0.9179955720901489
epoch: 154, loss: 0.9173590540885925
epoch: 155, loss: 0.9176177978515625
epoch: 156, loss: 0.9169339537620544
epoch: 157, loss: 0.917262077331543
epoch: 158, loss: 0.9167208075523376
epoch: 159, loss: 0.9168796539306641
epoch: 160, loss: 0.9163855910301208
epoch: 161, loss: 0.916434109210968
epoch: 162, loss: 0.9159701466560364
epoch: 163, loss: 0.916309654712677
epoch: 164, loss: 0.9158303141593933
epoch: 165, loss: 0.9159485101699829
epoch: 166, loss: 0.9156025648117065
epoch: 167, loss: 0.9155996441841125
epoch: 168, loss: 0.9152120351791382
epoch: 169, loss: 0.9151979088783264
epoch: 170, loss: 0.9149609208106995
epoch: 171, loss: 0.914890706539154
epoch: 172, loss: 0.914718747138977
epoch: 173, loss: 0.914740800857544
epoch: 174, loss: 0.914430558681488
epoch: 175, loss: 0.914305567741394
epoch: 176, loss: 0.9141451716423035
epoch: 177, loss: 0.9142029881477356
epoch: 178, loss: 0.9139172434806824
epoch: 179, loss: 0.9140076637268066
epoch: 180, loss: 0.9134861826896667
epoch: 181, loss: 0.9136919379234314
epoch: 182, loss: 0.9135059118270874
epoch: 183, loss: 0.9133989810943604
epoch: 184, loss: 0.9132961630821228
epoch: 185, loss: 0.9133298993110657
epoch: 186, loss: 0.9129781723022461
epoch: 187, loss: 0.9129655957221985
epoch: 188, loss: 0.9126709699630737
epoch: 189, loss: 0.9126909971237183
epoch: 190, loss: 0.9125592112541199
epoch: 191, loss: 0.9125676155090332
epoch: 192, loss: 0.9123026132583618
epoch: 193, loss: 0.9120595455169678
epoch: 194, loss: 0.9120702147483826
epoch: 195, loss: 0.9121605753898621
epoch: 196, loss: 0.9118496179580688
epoch: 197, loss: 0.911901593208313
epoch: 198, loss: 0.9117134809494019
epoch: 199, loss: 0.9116142988204956

# Validation on Test Set

In [41]:

test_loss = 0
s = 0
for id_user in range(len(user_ids)):
  input = torch.autograd.Variable(X_train[id_user]).unsqueeze(0)
  target = torch.autograd.Variable(X_test[id_user]).unsqueeze(0)
  # atleast one movie is rated
  if torch.sum(target.data>0) > 0:
    output = sae(input)
    target.require_grad = False
    # reset input and not rated movies
    output[target == 0] = 0
    # loss
    loss = criterion(output, target)
    # train loss
    factor = len(movie_ids)/torch.sum(target.data>0)
    test_loss += np.sqrt(loss.data*factor)
    s += 1
print(f"test loss: {test_loss/s}")

test loss: 0.9489670395851135